
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url("pozadie.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.nadpis1{
    padding: 100px 0 0 0;
}

.nadpis2 {
    padding: 0 0 0 0;
}

.nadpis1 h5 {
    font-family: Garamond;
    font-size: 85px;
    color: rgb(214, 215, 153);
    font-weight: normal;
    text-align: center;
}

.nadpis2 h2 {
    font-family: Allura;
    font-size: 150px;
    color: rgb(214, 215, 153);
    font-weight: normal;
    text-align: center;
}

.navbar {
    width: 1100px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    overflow: auto;
    opacity: 0.5;
    text-align: center;
    font-size: 50px;
    font-family: Great Vibes;
}


ul {
    list-style: none;
    background: rgb(255, 255, 255);
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: rgb(175, 177, 90);
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.content {
    background: rgba(255,255,255,0.5); /* tu si men 1.0 dole na transparent */
    width: 55%;
    padding: 40px;
    margin: 100px auto;
    margin-top: 15px;
    font-family: Garamond;
    opacity: 1;
} 

.moj_obrazok {
    float: right;
    padding: 20px;
}

p {
    font-size: 18px;
    color: rgb(0, 0, 0);
} 

@media (max-width: 600px) {
    /* Tu môžete upraviť štýly pre zariadenia s maximálnou šírkou 600px */
    img {
        align-items: center;
        width: 200px;
    }

    .content {
        width: auto;
    }

    p {
        font-size: 14px;
    }
}

/* Pre zariadenia s minimálnou šírkou 601px a maximálnou šírkou 900px */
@media (min-width: 601px) and (max-width: 900px) {
    /* Tu môžete upraviť štýly pre zariadenia s rozmermi medzi 601px a 900px */
    .moj_obrazok {
        float: right;
    }

    /* Príklad: zmena veľkosti písma na 18px */
    h3 {
        font-size: 180px;
    }
}
